html {
	width: 100%
}

/*General Body Styling*/
body {
	background-color: black;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: sans-serif, 'Roboto Condensed';
}

.brand {
	text-align: left;
	background-color: transparent;
	position: absolute;
}

/*top nav shopping cart positioning*/
#cart {
	left: 93%;
	position: absolute
}

@media only screen and (max-width: 400px) {
	#cart {
		left: 80%;
	}
}

/*shopping cart sizing*/
#navpic1 {
	height: 30px;
	width: 30px;
	padding-top: 65px;
	filter: invert(1);
	position: absolute;
}

/*top nav search icon positioning*/
#search {
	left: 93%;
	position: absolute
}

@media only screen and (max-width: 400px) {
	#search {
		left: 80%;
	}
}

/*search icon sizing*/
#navpic2 {
	height: 30px;
	width: 30px;
	padding-top: 20px;
	filter: invert(1);
	position: absolute;
}

/*resize nav icons on mobile*/
@media only screen and (max-width: 500px) {
	#navpic1, #navpic2 {
		margin-right: 30px;
	}
}

/*AboutNav at Top of Page*/
#TrapNav {
	display: inline-block;
	left: 0;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	text-align: right;
	position: absolute;
	top: 0%;
	height: 125px;
	width: 100%;
	list-style: none;
	overflow: hidden;
	background-color: black;
	font-family: Calibri;
	opacity: 1;
}

@media only screen and (max-width: 500px) {
	#TrapNav {
		width: 100%;
		display: inline-flex;
	}
}
/*About Nav Links Styling*/
#TrapNav a {
	margin: 0 auto;
	padding: 10px 10px;
	display: block;
	color: white;
	text-align: right;
	opacity: 1;
	text-decoration: none;
}

	/*AboutNav Links Hover Animation*/
	#TrapNav a:hover {
		opacity: 0.7;
		color: darkgrey;
		text-decoration: line-through;
	}

/* "WELCOME TO THE TRAP" Background Styling and Animation*/
span {
	top: 70px;
	left: 45px;
	font-size: 75px;
	font-family: sans-serif;
	opacity: 1;
	position: absolute;
	background-color: #AB2E5F;
	margin-left: 0;
	padding: 10px;
	animation: span 10s infinite;
}


@media only screen and (max-width: 500px) {
	span {
		font-size: 20px;
	}
}

/*header siziing and positioning*/
.hometop {
	height: 880px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: white;
	overflow: hidden;
	position: absolute;
}

/*header lower spacing*/
#hometop {
	margin-top: 100px;
	position: absolute;
	width: 100%;
	margin-left: 0 auto;
	margin-right: 0 auto;
}

/*header "traphouse" graphic styling*/
#traphouse {
	height: 100%;
	width: 600px;
	margin-top: 120px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	display: inline-block;
	overflow: visible;
	border: none;
	transition: 3s ease-in;
	animation: Flicker 18s infinite;
}

/*resize "traphouse" graphic */
@media only screen and (max-width: 500px) {
	#traphouse {
		padding-top: 20px;
		height: 175px;
		width: 155px;
		margin-top: 100px;
		transition: none;
		animation-delay: 2s;
		animation: FlickerMobile 30s infinite;
	}
}

/*merch pictures size and border*/
#trapmerch {
	height: 300px;
	width: 300px;
	position: relative;
	border: 3px white outset;
}

@media only screen and (max-width: 400px) {
	#trapmerch {
		width: 100px;
		height: 100px
	}
}

/*merch page font styling*/
p {
	padding-top: 10px;
	color: black;
	text-align: left;
	font-family: Karla, sans-serif;
	font-size: 20px;
}

#bodyrow {
	margin: auto;
	width: 100%;
	padding: 10px;
}

@media only screen and (max-width: 400px)
{
	#bodyrow{
		padding-left: 5px;
		padding-right: 0px;
	}
}

/*homepage body row*/
#homerow {
	top: 780px;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	padding-top: 20px;
	background-color: #f7f7f7;
	position: absolute;
	display: inline-block;
	overflow: auto;
}

@media only screen and (max-width: 400px) {
	#homerow {
		top: 375px;
		height: 950px;
	}
}

/*merch-page body row*/
#homerow2 {
	top: 780px;
	width: 100%;
	height: 1750px;
	margin: 0 auto;
	padding-top: 20px;
	background-color: black;
	position: absolute;
	display: inline-flex;
	overflow: hidden;
	column-count: 4;
	columns: 4;
}

@media only screen and (max-width: 400px) {
	#homerow2 {
		top: -175px;
		height: 2050px;
	}
}

/*Story, Privacy, Terms body Styling*/
#misc {
	font-family: Karla, sans-serif;
	font-size: 20px;
	text-align: center;
	border-radius: 4%;
	top: 780px;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	padding-top: 60px;
	background-color: #f7f7f7;
	position: absolute;
	display: inline-block;
	overflow: auto;
}

#misc2 {
	font-family: Karla, sans-serif;
	font-size: 20px;
	text-align: center;
	border-radius: 4%;
	top: 780px;
	width: 100%;
	height: 1400px;
	margin: 0 auto;
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #f7f7f7;
	position: absolute;
	display: inline-block;
	overflow: auto;
}

@media only screen and (max-widt: 400px)
{
	#misc2{
		display: inline-flex;
		padding-left: 0px;
		padding-right: 0px;
		font-size: 10px;
	}
}

/*Home Page White Body Trap Logo Background*/
#homegraphic {
	background-color: #f7f7f7;
	padding-top: 15px;
	position: absolute;
	display: block;
}

/*Home Page White Body Trap Logo*/
#white {
	text-align: center;
	overflow: hidden;
	margin: auto;
	padding-left: 10%;
}

@media only screen and (max-width: 1180px) {
	#white {
		padding-left: 10%;
		height: 350px;
		width: 450px
	}
}

@media only screen and (max-width: 400px) {
	#white {
		height: 300px;
		width: 100%;
		padding-left: 0%;
	}
}

/*Home Page Welcome Message Styling*/
#welcomemessage {
	padding-top: 40px;
	padding-right: 20px;
	background-color: transparent;
	margin-right: auto;
	position: absolute;
	display: block;
	margin-left: 45%;
	font-family: Karla, sans-serif;
	font-size: 20px;
	overflow: auto;
}

@media only screen and (max-width: 400px) {
	#welcomemessage {
		top: 275px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 1180px) {
	#welcomemessage {
		padding-left: 10px;
	}
}

/*Merch Page "Bio" for Product Styling */
#product {
	padding-left: 10px;
	padding-bottom: 50px;
	color: white;
}

/*Home Page Sale Banner Styling*/
.sale {
	height: 300px;
	width: 100%;
	top: 1300px;
	color: white;
	text-align: center;
	background-color: salmon;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 80px;
	letter-spacing: 3px;
	position: absolute;
	overflow: auto;
}

@media only screen and (max-width: 400px) {
	.sale {
		font-size: 30px;
		top: 500px;
		height: 120px;
		display: block;
	}
}

/*
#carousel {
	top: 1300px;
	height: 600px;
	position: absolute;
	display: inline-block;
	margin: 0 auto;
}

.carousel-inner {
	height: 600px;
	top: 1300px;
	position: absolute;
	display: inline-block;
	margin: 0 auto;
}
*/

/*"welcome to the trap" header styling*/
h1 {
	color: white;
	text-align: left;
	top: 30%;
	padding-top: 5px;
	margin-left: 40px;
	font-family: Karla, sans-serif;
	font-size: 35px;
	font-weight: 300;
	font-stretch: condensed;
}

/* "WELCOME TO THE TRAP" Placement and Sizing*/
h2 {
	height: 600px;
	width: 100%;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	top: 30%;
}

/*Footer link Headers ( Socials, Archived Designs, Legal )*/
h3 {
	color: salmon;
	padding-bottom: -10px;
	font-family: sans-serif;
	list-style-type: none;
	padding-left: 10px;
}

/*Footer header styling above "email us!" button.*/
h4 {
	font-family: sans-serif;
	text-align: left;
	padding-left: 5px;
	font-size: 20px;
	color: salmon;
	margin-bottom: 5px;
}

/*Merch Product title*/
h5 {
	color: salmon;
	font-size: 20px;
	font-family: Karla, sans-serif;
}

/*Privacy Policy Headers*/
h6 {
	font-size: 25px;
	font-family: Karla, sans-serif;
}

/*Privacy Policy section Headers*/
h7 {
	color: black;
	text-align: center;
	padding-top: 5px;
	font-family: Karla, sans-serif;
	font-size: 35px;
	font-weight: 300;
	font-stretch: condensed;
	text-decoration: underline;
}

/*Privacy Policy Titles*/
h8 {
	font-size: 20px;
	font-family: sans-serif;
}


/*All font awesome social media icon placement*/
.fa {
	padding: 0;
	margin-left: -10px;
}

/*All font awesome icon styling*/
.fa-facebook, .fa-twitter, .fa-instagram, .fa-snapchat {
	padding: 10px;
	font-size: 30px;
	width: 40px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	display: block;
	color: white;
}

	/*Instagram hover link*/
	.fa-instagram:hover {
		color: #C13584;
	}

	/*Facebook hover link*/
	.fa-facebook:hover {
		color: #4267B2;
	}

	/*Twitter hover link*/
	.fa-twitter:hover {
		color: #1DA1F2;
	}

	/*Snapchat hover link*/
	.fa-snapchat:hover {
		color: #FFFC00
	}

/*"Made by "Jesse Armenio" ~ name styling*/
.dev {
	text-decoration: none;
	text-decoration-style: none;
	color: white;
}
	/*Made by "Jesse Armenio" ~ hover link*/
	.dev:hover {
		color: salmon;
	}

/* Home page and Gallery/Merch footer styling*/
.footer {
	top: 2300px;
	display: inline-flex;
	flex-flow: row wrap;
	color: #2f2f2f;
	background-color: black;
	border-top: 1px solid #e5e5e5;
	position: absolute;
	width: 100%;
}

	.footer > * {
		flex: 1 100%;
	}

@media only screen and (max-width: 400px) {
	.footer {
		top: 1325px;
	}
}

/*Body / Legal page footer styling*/
.footer2 {
	top: 1600px;
	display: inline-flex;
	flex-flow: row wrap;
	color: #2f2f2f;
	background-color: black;
	border-top: 1px solid #e5e5e5;
	position: absolute;
	width: 100%;
}

	.footer2 > * {
		flex: 1 100%;
	}

.footer__addr {
	margin-right: 1.25em;
	margin-bottom: 2em;
	padding-left: 40px;
	list-style-type: none;
}

@media only screen and (max-width: 700px) {
	.footer__addr {
		padding-left: 10px;
	}
}

/*Home Page Footer Address Header 2*/
.footer__addr h2 {
	margin-top: 1.3em;
	font-size: 15px;
	font-weight: 400;
}

/*Body Footer Address Header 2*/
.footer2__addr h2 {
	margin-top: 1.3em;
	font-size: 15px;
	font-weight: 400;
}

/*Home Page Footer Nav Title*/
.nav__title {
	font-weight: 400;
	font-size: 20px;
	text-decoration: none;
	list-style-type: none;
	color: salmon;
	padding-left: 0;
}

/*Body Page Footer Nav Title*/
.nav__title2 {
	font-weight: 400;
	font-size: 20px;
	text-decoration: none;
	list-style-type: none;
	color: salmon;
	padding-left: 10px;
}

.nav-item {
	position: absolute;
	text-align: right;
	width: 100%;
	margin: 0 auto;
}

.footer address {
	font-style: normal;
	color: #999;
	padding-left: 10px;
	text-decoration: none;
}

/*Footer "Email us!" Button Styling*/
.footer__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	width: 300px;
	background-color: white;
	border-radius: 100px;
	color: black;
	line-height: 0;
	margin: 0.6em 0;
	font-size: 1rem;
	padding: 0 1.3em;
}

	/*Footer "Email us!" Button Hover*/
	.footer__btn:hover {
		background-color: salmon;
		color: white;
	}

.footer__btn2 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	width: 200px;
	background-color: salmon;
	border-radius: 100px;
	color: white;
	line-height: 0;
	margin: auto;
	font-size: 1rem;
	padding: 0 1.3em;
}

	/*Footer "Email us!" Button Hover*/
	.footer__btn2:hover {
		background-color: salmon;
		color: black;
		border: 2px solid black;
		border-radius: 100px;
	}

/*Home Page Footer ul*/
.footer ul {
	list-style: none;
	padding: 0px;
}

/*Home Page Footer li*/
.footer li {
	line-height: 2em;
}

/*Home Page Footer a*/
.footer a {
	text-decoration: none;
}

/*Body Page Footer ul*/
.footer2 ul {
	list-style: none;
	padding: 0px;
}

/*Body Page Footer li (links)*/
.footer2 li {
	line-height: 2em;
}

/*Body Page Footer a (link brackets)*/
.footer2 a {
	text-decoration: none;
}

/*Footer Nav Placement*/
.footer__nav {
	display: flex;
	flex-flow: row wrap;
}

@media only screen and (max-width: 400px) {
	.footer__nav {
		padding-top: -10px;
	}
}


.footer__nav > * {
	flex: 1 50%;
	margin-right: 4em;
}

.nav__ul a {
	color: white;
}

	.nav__ul a:hover {
		color: salmon;
	}

spanT {
	font-family: Karla, sans-serif;
	font-size: 16px;
	text-decoration: none;
	text-decoration-style: none;
	color: white;
	animation: copyrightflicker 10s infinite;
}

	spanT:hover {
		animation: copyrightflicker 2s infinite
	}

.nav__ul--extra {
	column-count: 1;
	column-gap: .75em;
	padding-left: 10px;
}

.nav__ul {
	padding-left: 10px;
}

.nav__item, .nav__item--extra {
	list-style-type: none;
	padding-left: 10px;
}

/*Copyright text styling*/
.legal {
	margin-top: -20px;
	display: flex;
	flex-wrap: wrap;
	color: white;
	width: 100%;
	bottom: 0%;
	padding-left: 10px;
}

.legal__links {
	display: flex;
	align-items: center;
}

/*Footer Copyright Legal Body Styling*/
#legalp {
	color: white;
	text-align: left;
	font-family: Karla, sans-serif;
	font-size: 13px;
}

/*"Made by" Heart coloring*/
.heart {
	color: salmon;
}

address, a {
	text-decoration: none;
	text-decoration-style: none;
	list-style-type: none;
	color: darkgrey;
}

@media screen and (min-width: 24.375em) {
	.legal .legal__links {
		margin-left: auto;
	}
}

@media screen and (min-width: 40.375em) {
	.footer__nav > * {
		flex: 1;
	}

	.nav__item--extra {
		flex-grow: 2;
	}

	.footer__addr {
		flex: 1 0px;
	}

	.footer__nav {
		flex: 2 0px;
	}
}
/**/
/*
/*ANIMATIONS BELOW*/
/*
/*
/**/
@keyframes span {
	0% {
		background-color: salmon;
		color: white;
	}

	25% {
		background-color: #AB2E5F;
		color: white;
	}

	50% {
		background-color: salmon;
		color: white;
	}

	75% {
		background-color: #AB2E5F;
		color: white;
	}

	100% {
		background-color: salmon;
		color: white;
	}
}

@Keyframes Flicker {
	0% {
		filter: brightness(1) hue-rotate(0deg) drop-shadow(10px 10px 6px rgb(160, 0, 210));
	}

	10% {
		filter: brightness(1) hue-rotate(0deg) drop-shadow(10px 10px 6px rgb(160, 0, 210));
	}

	20% {
		filter: brightness(1.5) hue-rotate(53deg) drop-shadow(10px 40px 4px rgb(160, 0, 210));
	}

	30% {
		filter: brightness(1) hue-rotate(0deg) drop-shadow(10px 30px 4mm rgb(160, 0, 210));
	}

	50% {
		filter: brightness(1) hue-rotate(110deg) drop-shadow(10px 30px 4mm rgb(160, 0, 210));
	}

	60% {
		filter: brightness(1.9) hue-rotate(0deg) drop-shadow(10px 30px 4px rgb(160, 0, 210));
	}

	75% {
		filter: brightness(1) hue-rotate(160deg) drop-shadow(10px 30px 4mm rgb(160, 0, 210));
	}

	85% {
		filter: brightness(1.5) hue-rotate(100deg) drop-shadow(10px 30px 4px rgb(160, 0, 210));
	}

	100% {
		filter: brightness(1) hue-rotate(0deg) drop-shadow(10px 10px 6px rgb(160, 0, 210));
	}
}


@Keyframes FlickerMobile {
	0% {
		filter: brightness(1) hue-rotate(0deg) drop-shadow(10px 10px 6px rgb(160, 0, 210));
	}

	10% {
		filter: brightness(1) hue-rotate(0deg) drop-shadow(10px 10px 6px rgb(160, 0, 210));
	}

	20% {
		filter: brightness(1.7) hue-rotate(53deg) drop-shadow(30px 30px 4px rgb(160, 0, 210));
	}

	50% {
		filter: brightness(0.7) hue-rotate(110deg) drop-shadow(10px -6mm 4mm rgb(160, 0, 210));
	}

	75% {
		filter: brightness(1.45) hue-rotate(160deg) drop-shadow(10px -8mm 4mm rgb(160, 0, 210));
	}

	85% {
		filter: brightness(0.6) hue-rotate(100deg) drop-shadow(30px 30px 4px rgb(160, 0, 210));
	}

	100% {
		filter: brightness(1) hue-rotate(0deg) drop-shadow(10px 10px 6px rgb(160, 0, 210));
	}
}

@Keyframes Glow {
	0% {
		-moz-box-shadow: 0 0 0px #fff;
		-webkit-box-shadow: 0 0 0px #fff;
		box-shadow: 0px 0px 0px #fff;
	}

	25% {
		-moz-box-shadow: 0 0 5px #fff;
		-webkit-box-shadow: 0 0 5px #fff;
		box-shadow: 0px 0px 5px #fff;
	}

	50% {
		-moz-box-shadow: 0 0 0px #fff;
		-webkit-box-shadow: 0 0 0px #fff;
		box-shadow: 0px 0px 0px #fff;
	}

	75% {
		-moz-box-shadow: 0 0 5px #fff;
		-webkit-box-shadow: 0 0 5px #fff;
		box-shadow: 0px 0px 5px #fff;
	}

	100% {
		-moz-box-shadow: 0 0 0px #fff;
		-webkit-box-shadow: 0 0 0px #fff;
		box-shadow: 0px 0px 0px #fff;
	}
}

@keyframes copyrightflicker {
	0% {
		color: white;
		filter: brightness(0.7)
	}

	20% {
		color: white;
		filter: brightness(0.7)
	}

	25% {
		color: salmon;
		filter: brightness(1)
	}

	35% {
		color: salmon;
		filter: brightness(0.7)
	}

	45% {
		color: salmon;
		filter: brightness(1)
	}

	50% {
		color: white;
		filter: brightness(1)
	}

	75% {
		color: salmon;
		filter: brightness(0.7)
	}

	100% {
		color: white;
		filter: brightness(0.7)
	}
}


@font-face {
	font-family: Clip;
	src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.sign {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient( ellipse 50% 35% at 50% 50%, #6b1839, transparent );
	letter-spacing: 2;
	font-family: "Clip";
	text-transform: uppercase;
	height: 10px;
	font-size: 10px;
	color: #ffe6ff;
	text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
	animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
	0%, 22%, 36%, 75% {
		color: #ffe6ff;
		text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
	}

	28%, 33% {
		color: #ff65bd;
		text-shadow: none;
	}

	82%, 97% {
		color: #ff2483;
		text-shadow: none;
	}
}

.flicker {
	animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
	animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
	0% {
		color: #6b1839;
		text-shadow: none;
	}

	100% {
		color: #ffe6ff;
		text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
	}
}

@keyframes flicker {
	from {
		opacity: 1;
	}

	4% {
		opacity: 0.9;
	}

	6% {
		opacity: 0.85;
	}

	8% {
		opacity: 0.95;
	}

	10% {
		opacity: 0.9;
	}

	11% {
		opacity: 0.922;
	}

	12% {
		opacity: 0.9;
	}

	14% {
		opacity: 0.95;
	}

	16% {
		opacity: 0.98;
	}

	17% {
		opacity: 0.9;
	}

	19% {
		opacity: 0.93;
	}

	20% {
		opacity: 0.99;
	}

	24% {
		opacity: 1;
	}

	26% {
		opacity: 0.94;
	}

	28% {
		opacity: 0.98;
	}

	37% {
		opacity: 0.93;
	}

	38% {
		opacity: 0.5;
	}

	39% {
		opacity: 0.96;
	}

	42% {
		opacity: 1;
	}

	44% {
		opacity: 0.97;
	}

	46% {
		opacity: 0.94;
	}

	56% {
		opacity: 0.9;
	}

	58% {
		opacity: 0.9;
	}

	60% {
		opacity: 0.99;
	}

	68% {
		opacity: 1;
	}

	70% {
		opacity: 0.9;
	}

	72% {
		opacity: 0.95;
	}

	93% {
		opacity: 0.93;
	}

	95% {
		opacity: 0.95;
	}

	97% {
		opacity: 0.93;
	}

	to {
		opacity: 1;
	}
}
